
@{
    ViewBag.Title = "Index";
}


<style>
    .btn a {
        color: white;
        text-decoration: none
    }
    .hour{color:rebeccapurple; font-size:medium}
    body {
        background-color: #F1F1F1;
        color:black;
        font-size:initial
    }

</style>

<div class="text-center hour" >
    <br />  <br />  <br />

    <h2>@ViewBag.Greeting </h2>
</div>
<br />
<br />
<body>
    <p> We're going to have an exciting party</p>

    <br />
    <br />
    <p> (To do : sell it better. add pictures or something)</p>

</body>
<br />
<br />
<br />
<br />
<div class="btn btn-success">
    @Html.ActionLink("ِRegister Now", "RsvpForm")
</div>


