
@{
    ViewBag.Title = "Index";
}
<div class="text-center">

    <br />
    <br />
    <br />
    <h2 class="text-warning">@ViewBag.Greeting </h2>
    <br />
    <br />
    <p class="btn-lg"> We're going to have an exciting party</p>

    <br />
    <br />
    <p class="alert-dismissable"> (To do : sell it better. add pictures or something)</p>
    <br />
    <br />
    <br />
    <br />

    <h1 class="bottom   bottom-left">@Html.ActionLink("ِRegister Now", "RsvpForm")</h1>

</div>
