@model Party_Invites.Models.GestResponse

@{
    ViewBag.Title = "Thanks";
}

<br /> <br />   <br />

<style>

    body {
        background-color: #F1F1F1;
        color: black;
        font-size: initial
    }
</style>


@{
    try
    {
        WebMail.SmtpServer = "smtp.gmail.com";
        WebMail.SmtpPort = 587;
        WebMail.EnableSsl = true;
        WebMail.UserName = "";
        WebMail.Password = "";
        WebMail.From = "";
        WebMail.SmtpUseDefaultCredentials = true;


        WebMail.Send("Wnter mail", "RSVP Notification", Model.Name
            + "is" + (((bool)Model.WillAttend) ? "" : "Not") + "attending");
    }
    catch (Exception)
    {
        @: Sorry to send email

    }
}
<body>

    <h1 class="text-danger text-center">Thank you , @Model.Name  !</h1>

    <br /><br />

    <div class="lead">
        @if (@Model.WillAttend == true)
        {
            @:It's great that you're comming.
        }
        else
        {
            @: Sorry to hear that you can't make it,but thanks for letting us know.
        }
    </div>
</body>
