@model Party_Invites.Models.GestResponse

@{
    ViewBag.Title = "Thanks";
}

<br /> <br />   <br />

<style>

    body {
        background-color: #F1F1F1;
        color: black;
        font-size: initial
    }
</style>

<body>

    <h1 class="text-danger text-center">Thank you , @Model.Name  !</h1>

    <br /><br />

    <div class="lead">
        @if (@Model.WillAttend == true)
        {
            @:It's great that you're comming.
        }
        else
        {
            @: Sorry to hear that you can't make it,but thanks for letting us know.
        }
</body>
      </div>